.loading-gradient {
    background-image: linear-gradient(
      to right,
      theme(colors.zinc.900),
      theme(colors.zinc.600),
      theme(colors.zinc.900)
    );
    background-size: 200% 200%;
    background-position: 0% 0%;
    animation: gradient-slide 1.5s ease infinite;
  }
  