.bubble-top-left {
  animation: bubble 7s ease infinite;
}

.bubble-middle {
  animation: bubble 8s ease infinite;
  animation-delay: 2s;
}

.bubble-top-right {
  animation: bubble 9s ease infinite;
  animation-delay: 4s;
}

@keyframes bubble {
  0% {
    transform: translate(0%, 0%) scale(1);
  }
  25% {
    transform: translate(10%, -10%) scale(1.2);
  }
  50% {
    transform: translate(-10%, 10%) scale(0.8);
  }
  100% {
    transform: translate(0%, 0%) scale(1);
  }
}