.hero-image {
  width: 100px;
  animation-name: hover;
  animation-timing-function: cubic-bezier(0.3, 0.45, 0.7, 0.8);
  animation-iteration-count: infinite;
}

@keyframes hover {
  0%,
  100% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(10%);
  }
}

@media screen and (min-height: 300px) {
  .hero-image {
    width: 100px;
  }
}

@media screen and (min-width: 768px) and (min-height: 600px) {
  .hero-image {
    width: 120px;
  }
}

@media screen and (min-width: 1024px) and (min-height: 700px) {
  .hero-image {
    width: 200px;
  }
}

@media screen and (min-width: 1536px) and (min-height: 800px) {
  .hero-image {
    width: 250px;
  }
}

@media screen and (min-width: 2560px) and (min-height: 900px) {
  .hero-image {
    width: 400px;
  }
}
